<h1> Nuevo repuesto </h1>


<%= form_for :replacement do |f| %>
  <p>
    <%= f.label :repuesto %><br>
    <%= f.text_field :repuesto %>
  </p>
 
  <p>
    <%= f.label :marca %><br>
    <%= f.text_field :marca %>
  </p>

  <p>
    <%= f.label :referencia %><br>
    <%= f.text_field :referencia %>
  </p>

  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </p>
  
  <p>
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
