<!DOCTYPE html>
<html>
<head>
  <title>MymStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Home", root_path %>
  <%= link_to "Usuarios", users_path %>
  <%= link_to "Tiendas", stores_path %>
  <%= link_to "Repuestos", replacements_path %>
  <%= link_to "Repuestos en sede", store_replacements_path %>
  <%= link_to "Ventas", sale_details_path %>
  
<%= yield %>

</body>
</html>
